.post {
  border: 1px solid rgba($black, .1);
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 1px 4px 15px 1px rgb(0 0 0 / 10%);

  &:not(:last-child) {
    margin-bottom: .5rem;
  }
}

.post-header {
  display: flex;
  gap: .875rem;
  align-items: center;
  margin-bottom: .25rem;
}

.post-header__content {
  display: flex;
  flex-direction: column;
  gap: .125rem;
}

.post-header__title {
  line-height: 1;
  font-weight: 700;
}

.post-header__date {
  font-size: .75rem;
}

.post-header__image {
  border-radius: 50rem;
  border: 1px solid rgba($black, .2);
}

.post-content {
  padding-left: 3.75rem;
}

.post-content__text {
  font-size: .9375rem;
}

.post-content__image {
  border-radius: 8px;
}

.post-footer {
  padding-left: 3.75rem;
  display: flex;
  gap: 1.5rem;
  margin-top: 1rem;
}

.post-footer__likes,
.post-footer__comments,
.post-footer__share {
  a {
    display: flex;
    align-items: flex-end;
    gap: 0.5rem;
    color: inherit;
    text-decoration: none;
    transition: opacity .15s ease-in-out;

    &:hover {
      opacity: .6;
    }
  }
}

.post-footer__share {
  margin-left: auto;
}

.post-footer__likes-icon,
.post-footer__comments-icon,
.post-footer__share-icon {
  font-size: 1.125rem;
}

.post-footer__likes-count,
.post-footer__comments-count {
  line-height: 1;
  font-size: .9375rem;
}

.post-comment-section {
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px solid rgba($black, .1);
  padding-left: .25rem;
  padding-right: .25rem;
}

.post-comment-section__item-header {
  display: flex;
  gap: .875rem;
  align-items: center;
  margin-bottom: .25rem;
}