.friends {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.friends-tab {
  display: flex;
  gap: .5rem;
  margin-bottom: 1rem;
  border-bottom: none;

  .nav-item {
    .nav-link {
      border-radius: 50px;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 15px;
      padding-right: 15px;
      color: $primary;
      background-color: $white;
      border: 1px solid $primary;
      transition: background-color .2s ease-in-out, color .2s ease-in-out;

      &:hover {
        background-color: $primary;
        color: $white;
      }

      &.active {
        background: $primary;
        color: $white;
      }
    }
  }
}

.section-title {
  margin-bottom: 1rem;
}

// Friend item
.friend-items {
  padding-bottom: 5rem;

  .friend-item {
    &:not(:last-child) {
      margin-bottom: .625rem;
    }
  }
}
.friend-item {
  display: flex;
  padding: 1rem;
  gap: 1rem;
  align-items: center;
  box-shadow: -1px 5px 25px -3px rgba($black, .3);
  border-radius: 5px;
  position: relative;
}

.friend-item__avatar {
  border-radius: 50%;
}

.friend-item__content {
  display: flex;
  flex-direction: column;
}

.friend-item__name {
  font-weight: 500;
  font-size: 1.125rem;
}

.friend-item__date {
  font-weight: 300;
  font-size: .875rem;
  opacity: .8;
}

.friend-item__button {
  margin-left: auto;

  &:hover {
    cursor: pointer;
  }
}

.friend-item__button-icon {
  font-size: 1.25em;
}

.friend-item__actions {
  position: absolute;
  background-color: $white;
  padding: .5rem;
  display: flex;
  flex-direction: column;
  right: 0;
  gap: .5rem;
  bottom: -50%;
  transform: translateY(20%);
  box-shadow: -1px 5px 25px -3px rgba($black, .3);
  z-index: 1;
}

.friend-item__actions-button {
  background-color: transparent;
  border: none;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: .625rem;

  svg {
    font-size: 1.25em;
  }
}

.friend-item__actions-button--trash {
  color: $danger;
}

.friend-item__accept-or-deny {
  display: flex;
  margin-left: auto;
  align-items: center;

  .friend-item__actions-button {
    padding-left: .3125rem;
    padding-right: .3125rem;

    svg {
      font-size: 1.75em;
      transition: opacity .2s ease-in-out;
    }

    &:hover {
      svg {
        opacity: .5;
      }
    }
  }
}

.friend-item__actions-button--accept {
  color: $success;
}

.friend-item__actions-button--deny {
  color: $danger;
}