.modal-backdrop {
    z-index: 1;
}

.footer-fixed {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 2;
    height: 70px;
    background-color: $white;
    box-shadow: -2px -5px 15px 3px rgba(0,0,0,0.3);
}

.footer-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    height: 100%;
}

@media screen and (max-width: 767px) {
    .footer-content{
        padding: 2% 0;
    }

    .footer-fixed {
        height: 60px;
    }

    .footer-item {
        padding: 2%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .footer-content {
        padding: 2.5% 0;
    }
}

.footer-item__icon {
    font-size: 1.5em;
    color: rgb($black, .9);
}

.footer-item__icon--center {
    border-radius: 50%;
    background-color: $primary;

    .footer-item__icon {
        font-size: 1.75em;
    }
}