.header-content {
    padding: .3125rem 1.25rem;
    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    box-shadow: -1px 0px 20px 3px rgb(0 0 0 / 68%);
}

.header-item__icon {
    font-size: 1.75em;
    color: rgba($black, .9);
}